@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

body {
  font-family: "Noto Sans KR", sans-serif;
  color: #fff;
}
a {
  text-decoration: none;
  color: #d9d9d9;
}

/* .login-header starts here */
.login-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  width: calc(100vw - var(--scrollbar-width));
}
.logo img {
  height: 40px; /* 로고의 높이를 조정하세요 */
}

.login-header-btn {
  display: flex;
  gap: 10px;
}
.join-btn,
.login-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.join-btn {
  background-color: #e50914;
  color: white;
}

.login-btn {
  margin: 0;
  padding: 0;
  width: 200px;
}
.login-btn-link {
  padding: 10px;
  display: block;
  background-color: black;
  width: 200px;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  transition: 0.5s;
  color: #d9d9d9;
}

.login-btn-link:hover {
  color: #fff;
  transform: scale(1.02);
}
/* .login-header ends here */

/* .login-main starts here */
.login-main {
  width: 100%;
  height: 85vh;
  text-align: center;
  max-height: 50rem;
  background-image: url(https://www.tving.com/img/pc-img-gradation-240320.png),
    url(https://image.tving.com/ntgs/operation/onboard/2024/05/01/1714526304_1.png/dims/resize/F_webp,720);
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat, no-repeat;
  -webkit-background-position: bottom, top;
  background-position: bottom, top;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3.667rem;
  position: relative; /* 추가된 부분 */
}

.login-main::before {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

@media (min-width: 1000px) {
  .login-main {
    height: 95vh;
    max-height: 68vw;
    background-image: url(https://www.tving.com/img/pc-img-gradation-240320.png),
      url(https://image.tving.com/ntgs/operation/onboard/2024/05/01/1714526297_1.png/dims/resize/F_webp,2048);
  }
}

.message-box {
  font-size: 1.5rem;
  margin: 10px 0;
  text-align: center;
}

.message {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.33;
  animation: fadeIn 1.5s 0.2s forwards; /* 수정된 부분 */
}

.message-title {
  color: #ff153c;
  animation: fadeIn 1.5s 0.2s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main-btn {
  height: 4.083rem;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: #ff153c;
  margin: 2.8rem auto 0;
  padding: 0 3.35rem 0 3.35rem;
  font-size: 1.333rem;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
  min-width: 22.5rem;
  border: none;
}

/* 미디어 쿼리로 작은 화면에서 폰트 크기 조정 */
@media (max-width: 768px) {
  .message {
    font-size: 1.5rem; /* 작은 화면에서 폰트 크기 조정 */
  }
  .message-title {
    font-size: 1.5rem;
  }

  .main-btn {
    font-size: 1rem; /* 작은 화면에서 버튼 폰트 크기 조정 */
    padding: 0 2rem; /* 작은 화면에서 버튼 패딩 조정 */
    height: 3rem; /* 작은 화면에서 버튼 높이 조정 */
  }
}

@media (max-width: 480px) {
  .message {
    font-size: 1.2rem; /* 더 작은 화면에서 폰트 크기 조정 */
  }

  .main-btn {
    font-size: 0.8rem; /* 더 작은 화면에서 버튼 폰트 크기 조정 */
    padding: 0 1.5rem; /* 더 작은 화면에서 버튼 패딩 조정 */
    height: 2.5rem; /* 더 작은 화면에서 버튼 높이 조정 */
  }
}

/* member-select starts here */
.member-main {
  padding: 20px;
  margin-top: 80px;
  text-align: center;
}

.login-main-img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin: 20px 0;
  padding-top: 50px;
}

.login-profile-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-profile-img img {
  width: 200px;
  height: 200px;
  border: 2px solid #fff;
}

.login-profile-img:hover {
  transform: translateY(-10px); /* 추가된 부분 */
}

@media (max-width: 768px) {
  .login-header {
    justify-content: center;
    width: 100%;
    font-size: 1.5rem;
    margin-left: 0; /* 추가된 부분 */
  }
  .login-profile-img {
    justify-content: space-around;
  }
}

@media (max-width: 480px) {
  .login-header {
    font-size: 1.2rem;
    justify-content: center;
  }

  .login-profile-img {
    justify-content: space-around;
  }
}

/* social login starts here */

#social-login-main {
  background-image: url(https://image.tving.com/public/user/images/bg-dim.svg),
    url(https://image.tving.com/ntgs/operation/onboard/2024/05/01/1714526297_1.png/dims/resize/F_webp,2048);
  background-size: cover;
  background-repeat: no-repeat;
}

.social-login-wrapper {
  padding-top: 150px;
  width: 45%;
}
@media (max-width: 1000px) {
  .social-login-wrapper {
    width: 55%;
  }
}
@media (min-width: 1600px) {
  .social-login-wrapper {
    width: 33%;
  }
}

.social-login-text {
  font-size: clamp(0.875rem, 2.043vw + 0.332rem, 2.375rem); /* responsive */
  /* 14-38px */
  text-align: center;
  color: white;
  margin: 3px;
}

.social-login-container {
  margin-top: 23px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.social-login-btn {
  font-size: clamp(0.5rem, 1.021vw + 0.229rem, 1.25rem); /* responsive */
  /* 8-20px */
  padding: 1.25em 0;
  margin-bottom: 0.75em;
  border-radius: 5px;
  color: #a3a3a3;
  cursor: pointer;
  border: 1px solid #a3a3a3;
  text-align: center;
  background-color: transparent;
  transition: all 0.5s;
  background-repeat: no-repeat;
  background-position: 1.5em 50%;
  background-size: 1.8em auto;
}
.social-login-btn:hover {
  border-color: #fff;
  color: #fff;
}

.social-login-btn.icon-tving {
  background-image: url(../images/social_login/icon-id-tving.svg);
}
.social-login-btn.icon-naver {
  background-image: url(../images/social_login/icon-id-naver.svg);
}
.social-login-btn.icon-kakao {
  background-image: url(../images/social_login/icon-id-kakao.svg);
}
.social-login-btn.icon-facebook {
  background-image: url(../images/social_login/icon-id-face.svg);
}
.social-login-btn.icon-twitter {
  background-image: url(../images/social_login/icon-id-twitter.svg);
}
.social-login-btn.icon-apple {
  background-image: url(../images/social_login/icon-id-apple.svg);
}
.social-login-btn.icon-cj {
  background-image: url(../images/social_login/icon-id-cj.png);
}

.social-pw-reset {
  font-size: clamp(0.5rem, 1.021vw + 0.229rem, 1.25rem); /* responsive */
  /* 7-18px */
  text-align: center;
  margin-top: 0.6em;
  color: #6e6e6e;
}
.find-pw {
  color: #a3a3a3;
  &:hover {
    color: #fff;
  }
}
