@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

body {
  font-family: "Noto Sans KR", sans-serif;
  color: #fff;
}

.social-login-wrapper {
  margin-top: 150px;
  width: 45%;
  outline: 1px solid orange;
}
@media (max-width: 1000px) {
  .social-login-wrapper {
    width: 55%;
  }
}
@media (min-width: 1600px) {
  .social-login-wrapper {
    width: 33%;
  }
}

.social-login-text {
  font-size: clamp(0.875rem, 2.043vw + 0.332rem, 2.375rem); /* responsive */
  /* 14-38px */
  text-align: center;
  color: white;
  margin: 3px;
}

.social-login-container {
  margin-top: 23px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.social-login-btn {
  font-size: clamp(0.5rem, 1.021vw + 0.229rem, 1.25rem); /* responsive */
  /* 8-20px */
  padding: 1.25em 0;
  margin-bottom: 0.75em;
  border-radius: 5px;
  color: #a3a3a3;
  cursor: pointer;
  border: 1px solid #a3a3a3;
  text-align: center;
  background-color: transparent;
  transition: all 0.5s;
  background-repeat: no-repeat;
  background-position: 1.5em 50%;
  background-size: 1.8em auto;
}
.social-login-btn:hover {
  border-color: #fff;
  color: #fff;
}

.social-login-btn.icon-tving {
  background-image: url(images/social_login/icon-id-tving.svg);
}
.social-login-btn.icon-naver {
  background-image: url(images/social_login/icon-id-naver.svg);
}
.social-login-btn.icon-kakao {
  background-image: url(images/social_login/icon-id-kakao.svg);
}
.social-login-btn.icon-facebook {
  background-image: url(images/social_login/icon-id-face.svg);
}
.social-login-btn.icon-twitter {
  background-image: url(images/social_login/icon-id-twitter.svg);
}
.social-login-btn.icon-apple {
  background-image: url(images/social_login/icon-id-apple.svg);
}
.social-login-btn.icon-cj {
  background-image: url(images/social_login/icon-id-cj.png);
}

.social-pw-reset {
  font-size: clamp(0.5rem, 1.021vw + 0.229rem, 1.25rem); /* responsive */
  /* 7-18px */
  text-align: center;
  margin-top: 0.6em;
  color: #6e6e6e;
}
