@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

body {
  font-family: "Noto Sans KR", sans-serif;
  position: relative;
  background-color: white;
  color: #fff;
}

header {
  background-color: black;
}

.navbar-brand > img {
  width: clamp(4.1875rem, 8.34vw + 1.972rem, 10.3125rem);
}

.navbar-nav {
  flex-direction: row;
  gap: clamp(1.25rem, 1.702vw + 0.798rem, 2.5rem);
  align-items: center;
}

.nav-link:hover {
  color: #fff;
}
.nav-link {
  color: #d9d9d9;
  font-size: clamp(0.75rem, 1.021vw + 0.479rem, 1.5rem);
}

.nav-search-btn {
  width: clamp(1.125rem, 1.532vw + 0.718rem, 2.25rem);
  height: clamp(1.125rem, 1.532vw + 0.718rem, 2.25rem);
  color: #fff;
  background: url(https://www.tving.com/img/icon_search.svg) no-repeat center/100%;
  background-color: transparent;
  border: none;
  margin-right: clamp(1.25rem, 1.702vw + 0.798rem, 2.5rem);
  opacity: 0.7;
}

.menu-my {
}

.user-img {
  width: clamp(1.125rem, 1.532vw + 0.718rem, 2.25rem);
  height: clamp(1.125rem, 1.532vw + 0.718rem, 2.25rem);
  /* width: 100%; */
}